*{
    box-sizing: border-box;
}

body{
    background-color: #ebebeb ; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300 ;
    padding: 0.5rem ;
}

header, .header-info{
    padding:  1rem 1rem 0rem 1rem;
    background-color: #EAC926 ;
    border-radius: 2rem;
}

.page-info  h2{
    text-align: center;
}

ul {
    padding-left: 0;
    padding-bottom: 2rem;
}

.logo{
    width: 50vw;
}

.burguer.container{
    text-align: center;
    padding: 1rem;
}

#burger{
    background-color: #03264c;
    padding: 1rem ;
    margin: auto;
    border-radius: 1rem;
    color: #ffffff;
    text-align: center;
    display: block;
    max-width: 3rem;
}

#credit-card{
    text-align: center;
}

.header-link{
    text-decoration:none;
    color: black;
}

main{
    background-color: #EAC926 ;
    border-radius: 2rem;
    box-sizing: border-box;
}

.titulares{
    text-align: center;
    font-size: 1.5rem ;
    padding: 1rem;
}

#un-producto{
    width: 60% ;
    height: 60% ;
    display:block;
    margin:auto; 
    border: solid 0.25rem black;
}

h5{
    padding: 1rem;
}

.precios{
    font-size: 1.125rem ; /*18px*/
}

.lista{
    list-style: none;
}

.descuentos{
font-size: 16px;
}

.precios, .descuentos, h5 {
    text-align: center;
    display: block;
}

.cuerpo-de-texto{
    font-size: 0.75rem ; /*12px*/
}

footer{
    background-color: #ebebeb;
    padding: 1% ;
    border-radius: 2rem;
    box-sizing: border-box;
}

.footer-front{
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
}

footer .fa-align-justify {
    background-color: #ebebeb;;
    padding: 1rem;
    border-radius: 20px;
}

.footer-icon{
    padding-top: 2rem;
}

